In [1]:
import json
import pandas as pd

In [2]:
## open with simple datframe with incorrect importing

data = pd.read_json('auto_mly_bill_trans - Copy.json')

data

,_id,customer_id,type,insert_ts,date,eff_date,bw,calc_cost,period,insert_by,...,amount_bonus,no_vat_amount,vat_rates,priority,avalara,balance,balance_bonus,balance_real,attachment,sent
0,63b0dde91a371ef300aad0a1,hl_7527bb07,m_bill,2023-01-01T01:12:09.623Z,2023-01-01 00:00:00+00:00,2022-12-31T00:00:00.000Z,24.062437,"{'cname': 'wuqiming', 'cid': 'hl_7527bb07', 'p...","{'from': '2022-12-01T00:00:00.000Z', 'to': '20...",monthly_charge,...,0,-522.01,"{'avg': 0, 'dc': 0, 'res_static': 0, 'res_rota...","{'id': 'lum252535529623', 'account_num': '1961...",{'link_blocker': 'bevent is for non-avalara ta...,27.99,0,27.99,{'path': '/media/invoices/2023_01/01/1961606_l...,"{'date': '2023-01-02T20:53:02.060Z', 'login': ..."

## open with simple json
with open('auto_mly_bill_trans - Copy.json', 'r') as f:
    data = json.load(f)

print(data)

In [9]:
# read in JSON file
with open('auto_mly_bill_trans - Copy.json') as f:
    billing_record = json.load(f)

In [6]:

# create an empty dataframe to store the records
records = pd.DataFrame()

# loop through each billing record and add fields to the record
for billing_record in billing_record:
    record = {}
    
    # add fields to the record
    record['_id'] = billing_record['_id']
    record['customer_id'] = billing_record['customer_id']
    record['type'] = billing_record['type']
    record['insert_ts'] = billing_record['insert_ts']
    record['date'] = billing_record['date']
    record['eff_date'] = billing_record['eff_date']
    record['bw'] = billing_record['bw']
    record['cname'] = billing_record['calc_cost']['cname']
    record['cid'] = billing_record['calc_cost']['cid']
    record['subtotal'] = billing_record['calc_cost']['subtotal']
    
    # check if the 'vat' field is present in the billing record
    if 'vat' in billing_record['calc_cost']:
        record['vat'] = billing_record['calc_cost']['vat']
    
    record['total'] = billing_record['calc_cost']['total']
    
    # check if the 'gusage' field is present in the billing record
    if 'gusage' in billing_record:
        record['sum'] = billing_record['gusage']['sum']
    
    # add breakdown of costs associated with different services or time periods to the record
    if 'breakdown' in billing_record['calc_cost']:
        for breakdown in billing_record['calc_cost']['breakdown']:
            for key, value in breakdown.items():
                record[f"calc_cost_breakdown_{key}"] = value
    
    records = records.append(record, ignore_index=True)

TypeError: string indices must be integers

In [ ]:
df = pd.DataFrame(records)
df.head()